.navbar {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.136);
  padding: 0.1rem 0.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.093);
}

.navLinks {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.navLinks li {
  list-style: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.navLinks li:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  background-color: #ffffff1d;
  text-decoration-color: #ffffff1d;
}
